.container {
    position: relative;
    background-color: blueviolet;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.box {
    color: white;
    font-size: 2rem;
    width: 300px;
    height: 300px;
    display: grid;
    place-items: center;
}

.box-one {
    background-color: cadetblue;
    float: left;
}

.box-two {
    background-color: pink;
    float: right;
}

.box-three {
    position: absolute;
    background-color: violet;
    top: 485px;
    left: 332px;
}

.box-four {
    position: absolute;
    top: 650px;
    left: 650px;
    background-color: blue;
}